*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'inter';
    
}

a{
    text-decoration: none;
    color:inherit;
}

:root{
    --primary-bg:#3A4895;
    --light-theme:#5264C3;
    --black:black;
}